<!-- Begin Navbar -->
<div id="nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navcontainer">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li  class="<%= cpa(root_path) %>"><%= link_to 'Home', root_path %></li>
          <li class="<%= cpa(page_path('aboutus')) %>"><%= link_to 'About Us', page_path('aboutus') %></li>
          <li class="<%= cpa(page_path('staff')) %>"><%= link_to 'Staff', page_path('staff') %></li>
          <li class="<%= cpa(page_path('schedules')) %>"><%= link_to 'Schedules', page_path('schedules') %></li>
          <li class="<%= cpa(page_path('services')) %>"><%= link_to 'Services', page_path('services') %></li>
          <li class="<%= cpa(events_path) %>"><%= link_to 'Events', events_path %></li>
          <li class="<%= cpa(page_path('contactus')) %>"><%= link_to 'Contact Us', page_path('contactus') %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>