<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>Be Fit Yoga</title>
  <%= render 'layouts/structure/header-scripts' %>
</head>

<body>
<div class="container">
  <header>
    <div class="masthead-container">
      <div class="row">
        <div class="col-sm-6">
          <%= link_to image_tag('http://befityoga.s3-website-us-east-1.amazonaws.com/img/logo.jpg'), root_path  %>
        </div>
        <div class="col-sm-5 col-lg-offset-1 hidden-xs">
          <div class="text-right">
           <%= render 'layouts/structure/top-contactInfo' %>
          </div>
        </div>
      </div>
    </div>
  </header>

<%= render 'layouts/structure/navigation' %>
  <%= image_tag('https://s3.amazonaws.com/befityoga/img/photobar.jpg', class: 'img-responsive') %>
  <div class="content-container">
    <div class="row">
      <div class=" col-md-8 col-lg-9">
        <%= yield %>
      </div>
      <div class=" col-md-4 col-lg-3">
        <%= render 'layouts/structure/right-side' %>
      </div>
    </div>
  </div>






  <%= render 'layouts/structure/signOff' %>
</div>


<%= render 'layouts/structure/footer-scripts' %>

</body>
</html>
